{% load staticfiles %}
{% load thumbnail %}

<!--DOCTYPE htm -->
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>광운대학교 풍물 굿패 연합</title>
    
    <meta name="description" content="'광풍연'은 '광운대학교 풍물 굿패 연합'의 약자이고,
                        굴렁쇠, 난장, 사통백이 산지니, 산소래, 어진바람, 자올소리 등
                        총 7개의 패로 이루어져 있습니다.
                        매년 여름, 겨울 전수를 진행하고, 새내기판굿, 가을 판굿 및 
                        다양한 행사를 진행하고 있습니다.">
    
    <link rel="shortcut icon" href="{% static "img/favicon.ico"%}" type="image/x-icon">
    <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Add this css File in head tag-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">



    <link rel="stylesheet" href="{% static "css/freelancer.css" %}"/>
    <link rel="stylesheet" href="{% static "css/font-awesome.css"%}"/>
    <link rel="stylesheet" href="{% static "css/base.css"%}"/>
    <link rel="stylesheet" href="{% static "css/calendar.css"%}"/>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91683928-1', 'auto');
  ga('send', 'pageview');

</script>
  </head>

  <body>

    <!-- navbar -->
    <div style="background-color:#3c3d41" id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
      <div class="container">

        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span> 메뉴  <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="{% url "home:home" %}">KWPU : 광운대학교 풍물굿패 연합</a>
        </div>
;
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="{% url "notice:notice_list"%}"></a>
            </li>
            <li class="page-scroll">
              <a href="{% url "notice:notice_list" %}">공지사항</a>              
            </li>
            <li class="page-scroll">
              <a href="{% url "calendar:list"%}">풍연행사</a>
            </li>
            <li class="page-scroll">
              <a href="{% url "album:album_list"%}">풍연앨범</a>
            </li>
            <li class="page-scroll">
              <a href="{% url "bamboo:bamboo_list" %}">대나무숲</a>
              <li class="page-scroll">
                <a href="{% url "blog:blog_list"%}">풍연블로그</a>
              </li>
          </ul>
        </div>

      </div>
    </div>


    <!-- navbar 아래에 공간 -->
    <div style="padding:60px;"></div>




    <!-- 본문 시작 -->
    <div class="container">
      <div class="row">

        {% block content %}
        {% endblock content %}

      </div>
    </div>



    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <script src="{% static "js/freelancer.min.js" %}"></script>
    <script src="{% static "js/base.js" %}"></script>
    <script src="{% static "js/calendar.js" %}"></script>

    <script id="dsq-count-scr" src="//kwpu-disqus-com.disqus.com/count.js" async></script>



    <!--공지사항 좋아요 스크립트 -->
    <script>

      /* like counting */
      $(document).ready(function() {
        $('.post-likes-notice').click(function() {
          var id;
          id = $(this).attr('data-notice-id');
          $.get('/notice/like-blog/', {
            post_id: id
          }, function(data) {
            $('.like_count_blog').html(data);
          });
        });
      });

    </script>
    

    <!--대나무숲 좋아요 스크립트 -->
    <script>

      /* like counting */
      $(document).ready(function() {
        $('.post-likes-bamboo').click(function() {
          var id;
          id = $(this).attr('data-bamboo-id');
          $.get('/bamboo/like-blog/', {
            post_id: id
          }, function(data) {
            $('.like_count_blog').html(data);
          });
        });
      });

    </script>


    <!--풍연앨범 좋아요 스크립트 -->
    <script>

      /* like counting */
      $(document).ready(function() {
        $('.post-likes-album').click(function() {
          var id;
          id = $(this).attr('data-album-id');
          $.get('/album/like-blog/', {
            post_id: id
          }, function(data) {
            $('.like_count_blog').html(data);
          });
        });
      });

    </script>


    <!--풍연블로그 좋아요 스크립트 -->
    <script>

      /* like counting */
      $(document).ready(function() {
        $('.post-likes-blogs').click(function() {
          var id;
          id = $(this).attr('data-blogs-id');
          $.get('/blog/like-blog/', {
            post_id: id
          }, function(data) {
            $('.like_count_blog').html(data);
          });
        });
      });

    </script>


    <script type="text/javascript">

      $(document).ready(function(){
        $(".content-markdown").each(function(){
          var content =   $(this).text()
            console.log(content)
            var markedContent = marked(content)
            console.log(markedContent)
            $(this).html(markedContent)

        })
        $(".content-markdown img").each(function(){
          $(this).addClass("img-responsive") 

        })
        var titleItem =  $("#id_title");
        $("#preview-title").text(titleItem.val())

          var contentItem =  $("#id_content");
        $("#preview-content").html(marked(contentItem.val()))

          function setContent(value){
            var markedContent = marked(value)
              $("#preview-content").html(markedContent)
              $("#preview-content img").each(function(){
                $(this).addClass("img-responsive")
              })


          }
        setContent(contentItem.val())

      })

    </script>


    <div id="fb-root"></div>
    <script>

      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.8&appId=352279965137715";
      fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
          
    </script>

  </body>
</html>
