<!--DOCTYPE htm -->
<html>

  <head>

    {% load staticfiles %}



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/freelancer.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/base.css">






  </head>

  <body>
    <nav style="background-color:#3c3d41" id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span> 메뉴  <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="#page-top">KWPU : 광운대학교 풍물굿패 연합</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li class="page-scroll">
              <a href="#notice">공지사항</a>
            </li>
            <li class="page-scroll">
              <a href="#about">풍연행사</a>
            </li>
            <li class="page-scroll">
              <a href="#contact">풍연사진첩</a>
            </li>
            <li class="page-scroll">
              <a href="#contact">대나무숲</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>


    {% block content %}


    {% endblock content %}

    <footer class="footer-bs">
        <div class="row">
        	<div class="col-md-4 footer-brand animated fadeInLeft">
            	<h1>KWPU</h1>
                <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
                <p>© 2017 KWPU Homepage made by Kwon, All rights reserved</p>
            </div>
        	<div class="col-md-2 footer-nav animated fadeInUp">
            	<h1>메뉴</h1>
            	<div class="col-md-6">
                    <ul class="pages">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">풍연행사</a></li>
                        <li><a href="#">풍연사진첩</a></li>
                        <li><a href="#">대나무숲</a></li>
                    </ul>
                </div>
            </div>
        	<div class="col-md-3 footer-social animated fadeInDown">
            	<h1>관련 페이지</h1>
            	<ul>
                	<li><a href="#">Facebook</a></li>
                	<li><a href="#">Twitter</a></li>
                	<li><a href="#">Instagram</a></li>
                	<li><a href="#">RSS</a></li>
                </ul>
            </div>
        	<div class="col-md-3 footer-ns animated fadeInRight">
            	<h1>제작</h1>
                <p>Made by THKwon</p>&nbsp;
                <p style="font-size:20px;color:red">Contact Me!</p>
                <p style="font-size:15px;">phone : 010-7331-4120</p>
                <p style="font-size:15px;">E-mail : kwon5604@naver.com </p>
            </div>
        </div>
    </footer>

</div>
       <!-- jQuery -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <script src="../static/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="../static/js/freelancer.min.js"></script>


  </body>


</html>
