{% extends "home/base.html" %}
{% load staticfiles %}

{% block content %}
<div style="max-width: 1000px;" align="center"  class="container">
  <h2>광운대학교 풍물 굿패 연합 회칙</h2>
  <h2>아직 회칙 개정이 다 되지 않았기 때문에, 일부 회칙만 예시로 올립니다.</h2>
  <h2>추후 업데이트 예정</h2>
  <div align="left" style="max-width: 90%;" class="panel-group">



    <div class="panel panel-danger">
      <div class="panel-heading"><span style="font-size: 30px;">1장 총 칙</span></div>
        <div class="panel-body">

        <span style="font-size: 20px;">1조 명 칭</span> :<br><br><br>

         <span style="font-size: 20px;">2조 목 적</span> : 임실필봉농악을 매개로 문화 활동을 하는 각 과 풍물패들의 연대를 통해 각 패 자체 역량을 강화하고 건강한 학내 문화 활동 및 문예운동을 앞장서서 고민하고 실천해 나가는 것을 그 목적으로 한다.<br><br><br>

         <span style="font-size: 20px;">3조 구 성</span> : 본 회의 의결기구로 총회, 의장, 집행부, 각 패가 있다.<br><br><br>

         <span style="font-size: 20px;">4조 소 재 지</span> : 광풍연은 서울특별시 노원구 월계동 복지관 지하000호를 소재로 둔다.<br><br>

        </div>
    </div>



    <div class="panel panel-danger">
      <div class="panel-heading"><span style="font-size: 30px;">2장 회 원</span></div>
        <div class="panel-body">

        <span style="font-size: 20px;">5조 회원 자격</span> : 광운대 풍연에 가입된 풍물굿패 회원으로 인정된 사람에 한 한다.<br><br><br>
        
        <span style="font-size: 20px;">6조 회원 가입</span> : 패 단위로 가입함을 원칙으로 한다.<br><br><br>
        
        <span style="font-size: 20px;">7조 가입 방법</span> : 1학기 정기총회 전까지 가입신청서를 제출한다. <br><br><br>
        
        <span style="font-size: 20px;">8조 회원 의무</span> : 회칙을 준수하고 회비 납부의 의무를 가진다. 총회, 집행부의 결정 사항을 따를 의무를 지닌다. 풍연의 동산과 부동산을 관리, 유지할 의무를 지닌다.<br><br>
        
        <span style="font-size: 20px;">9조 회원 권리</span> : 광풍연의 모든 회원은 선거권 및 피선거권을 가진다.풍연의 모든 활동에 대해 알 권리와 의견을 개진할 권리, 참여할 권리를 가진다. 풍연의 동산과 부동산을 공유하며 사용할 권리를 가진다.(단, 의장의 권한으로 회원 권리를 제한할 수 있다.)<br><br><br>

       </div>
    </div>



     <div class="panel panel-danger">
      <div class="panel-heading"><span style="font-size: 30px;">3장 총 회</span></div>
        <div class="panel-body">

        <span style="font-size: 20px;">10조 지위 및 구성</span> : 총회는 광풍연의 최고의결기구로서 모든 회원으로 구성된다.<br><br><br>
        
        <span style="font-size: 20px;">11조 의 장</span> : 총회의 의장은 광풍연 당해연도 의장이 겸임한다. 단 의장 불참 시 부의장이 대행한다.<br><br><br>
        
        <span style="font-size: 20px;">12조 재적인원</span> : 당회 시 보고된 인원으로 한다.<br><br><br>
        
        <span style="font-size: 20px;">13조 권 한</span> : 총회는 다음과 같은 권한을 가진다.<br><br>
        
          &nbsp;&nbsp;1항. 풍연 회칙의 개정안의 발의 및 심의권을 가진다.<br>
          &nbsp;&nbsp;2항. 풍연 전체에 관련된 중요한 사항을 토의 결정한다.<br>
          &nbsp;&nbsp;3항. 풍연 집행부의 인사권을 가진다.<br>
          &nbsp;&nbsp;<span style="color:red;">4항. 풍연 의장의 탄핵은 2/3 이상 가입 패, 재적 인원 1/2 이상의 동의에 의해 발의할 수 있으며 2주일 이내에 직접, 비밀, 평등, 보통 선거로서 가입패의 2/3 이상, 재적인원의 2/3 이상의 투표에 , 출석 인원 1/2이상의 찬성으로 확정할 수 있다.</span><br><br>
        
        <span style="font-size: 20px;">14조 소 집</span> : 총회는 정기 총회와 임시 총회의 형태로 한다.<br><br>
 
          &nbsp;&nbsp;1항. 정기 총회 - 1년 3회로 한다. 시기는 1학기 개강 후, 2학기 개강 후, 2학기 종강 전후에 한다.<br>
          &nbsp;&nbsp;2항.    임시 총회 – 광풍연 패원 10명 이상의 요구가 있을 때, 집행부의 요구가 있을 때, 의장의 요구가 있을 때, 의장의 권한으로 소집한다.<br>
          &nbsp;&nbsp;3항.   단, 14조 2항의 경우. 의장의 권한에 의하여 광풍연 공공의 목적에 반할 시 임시총회 요구를 거부할 수 있다.<br>
          &nbsp;&nbsp;4항.  14조 1항 정기 총회는 의장이 7일 이전에 장소와 시간 및 상정안건을 공고한다.<br>
          &nbsp;&nbsp;5항.  14조 2항 임시 총회는 의장이 7일 이전에 장소와 시간 및 상정안건을 공고한다.<br><br><br>

        


        <span style="font-size: 20px;">15조 개회 및 의결</span> : 총회는 각 패 회원의 1/4 이상의 참석으로 개회하고. 출석 인원의 1/2 이상의 찬성으로 의결한다
          1항. 임시총회의 경우, 의장 및 집행부와 각 패 1명 이상의 참석으로 개회하고, 출석 인원의 1/2 이상의 찬성으로 의결한다.<br><br><br>


        <span style="font-size: 20px;">16조 실시</span> : 총회에서 의결된 안건은 의장이 총회일로부터 3일이내에 공고하고, 7일이 지난 후부터 실시된다.<br><br><br>

        <span style="font-size: 20px;">17조 집행 및 감독</span> : 회칙에 의거하여 실시된 총회의 모든 집행과 감독의 의무는 의장에게 있다.<br><br><br>


       </div>
    </div>

  </div>
</div>

   {% endblock content %}

