{% extends "home/base.html" %}
{% load staticfiles %}

{% block content %}
<div style="max-width: 1000px;" align="center"  class="container">
  <h2>광운대학교 풍물 굿패 연합 회칙</h2>
  <div align="left" style="max-width: 90%;" class="panel-group">



    <div class="panel panel-danger">
      <div class="panel-heading"><span style="font-size: 30px;">1장 총 칙</span></div>
        <div class="panel-body">

        <span style="font-size: 20px;">1조 명 칭</span> : 광운대학교풍물굿패연합(이하 광풍연)<br><br><br>

         <span style="font-size: 20px;">2조 목 적</span> : 임실필봉농악을 매개로 문화 활동을 하는 각 과 풍물패들의 연대를 통해 각 패 자체 역량을 강화하고 건강한 학내 문화 활동 및 문예운동을 앞장서서 고민하고 실천해 나가는 것을 그 목적으로 한다.<br><br><br>

         <span style="font-size: 20px;">3조 구 성</span> : 본 회의 의결기구로 총회, 의장, 집행부, 각 패가 있다.<br><br><br>

         <span style="font-size: 20px;">4조 소 재 지</span> : 광풍연은 서울특별시 노원구 월계동 복지관 지하109호(이하 풍방)를 소재로 둔다.<br><br>

        </div>
    </div>



    <div class="panel panel-danger">
      <div class="panel-heading"><span style="font-size: 30px;">2장 회 원</span></div>
        <div class="panel-body">

        <span style="font-size: 20px;">5조 회원 자격</span> : 10장 51조 구성에 의거된 패의 회원으로 가입되어 있고 현재 광운대학교를 졸업하지 않은 휴학/재학 한하여 인정된 사람에 한한다.<br><br>

        &nbsp;&nbsp;1항 . 2장 5조에 의거한 회원이었던 사람에 한하여 광운대학교를 졸업한 회원들은 명예회원으로 바뀐다.<br>
        &nbsp;&nbsp;2항 . 2장 5조 1항의 회원들은 본 회의 회칙을 지킬 의무가 있고 이에 따른 권리도 행사할 수 있다. 단, 선거 및 총회 등 회칙에 제정된 권한들에 의해서 제한 될 수 있다.<br>
        &nbsp;&nbsp;3항 . 2장 1항에 의거한 회원은 3장 총회에 의거된 모든 총회에 참관인으로 참석 할 수 있으나 권한은 행사 할 수 없다. 이때 재적인원 또한 포함되지 아니한다.<br><br><br>

        <span style="font-size: 20px;">6조 회원 가입</span> : 패 단위로 가입함을 원칙으로 한다.<br><br><br>

        <span style="font-size: 20px;">7조 가입 방법</span> : 패 단위로 광풍연 온라인 자료실에 등록된 가입신청서를 사용하여 회원을 받고 이를 집행위원회에게 제출한다. <br><br><br>

        <span style="font-size: 20px;">8조 회원 의무</span> : 광풍연 회원은 다음과 같은 의무를 지닌다.<br><br><br>

        &nbsp;&nbsp;1항 . 회칙을 준수하고 회비 납부의 의무를 가진다.<br>
        &nbsp;&nbsp;2항 . 총회, 집행위원회의 결정 사항을 따를 의무를 지닌다.<br>
        &nbsp;&nbsp;3항 . 광풍연의 동산과 부동산을 관리, 유지할 의무를 지닌다.<br><br><br>

        <span style="font-size: 20px;">9조 회원 권리</span> : 광풍연 회원은 다음과 같은 권리를 가진다.<br><br>

        &nbsp;&nbsp;1항 . 광풍연의 모든 회원은 선거권 및 피 선거권을 가진다.<br>
        &nbsp;&nbsp;2항 . 풍연의 모든 활동에 대해 알 권리와 의견을 개진할 권리, 참여할 권리를 가진다.<br>
        &nbsp;&nbsp;3항 . 풍연의 동산과 부동산을 공유하며 사용할 권리를 가진다. 단, 의장의 권한으로 광풍연의 목적에 맞지 않거나 사업 진행에 필요한 경우 제한 할 수 있다.<br><br><br>

        <span style="font-size: 20px;">10조 회원 탈퇴</span> : 광풍연의 회원이 탈퇴할 경우 각 패장에게 탈퇴한다는 서약을 받고 탈퇴 할 수 있다.<br><br>
        &nbsp;&nbsp;1항 . 패장은 탈퇴한 회원의 서약을 집행위원회에 소집에 제출할 의무가 있다.<br><br><br>
       </div>
    </div>



     <div class="panel panel-danger">
      <div class="panel-heading"><span style="font-size: 30px;">3장 총 회</span></div>
        <div class="panel-body">

        <span style="font-size: 20px;">11조 지위 및 구성</span> : 총회는 광풍연의 최고의결기구로서 모든 회원으로 구성된다.<br><br><br>

        <span style="font-size: 20px;">12조 의 장</span> : 총회의 의장은 광풍연 당해연도 의장이 겸임한다. 단 의장 불참 시 부의장이 대행한다.<br><br><br>

        <span style="font-size: 20px;">13조 재적인원</span> : 2장 7조 가입방법에 의거하여 등록된 인원으로 한다.<br><br><br>

        <span style="font-size: 20px;">14조 권 한</span> : 총회는 다음과 같은 권한을 가진다.<br><br>

          &nbsp;&nbsp;1항 . 광풍연 회칙의 개정안의 발의 및 심의권을 가진다.<br>
          &nbsp;&nbsp;2항 . 광풍연 전체에 관련된 중요한 사항을 토의 결정한다.<br>
          &nbsp;&nbsp;3항 . 광풍연 집행위원회의 인사권을 가진다.<br>
          &nbsp;&nbsp;4항 . 총회에 의결된 안건을 총 투표에 부칠 수 있다. 이때 총 투표를 실시 할 경우 직접, 비밀, 평등, 보통 선거로서 실시한다. <br><br><br>

        <span style="font-size: 20px;">15조 소 집</span> : 총회는 정기 총회와 임시 총회의 형태로 한다.<br><br>

          &nbsp;&nbsp;1항 . 정기 총회 - 1년 3회로 한다. 시기는 1학기 개강 후(이하 1학기 개강총회), 2학기 개강 후(이하 2학기 개강총회), 2학기 종강 전후(이하 2학기 종강총회)에 한다.<br>
          &nbsp;&nbsp;2항 . 임시 총회 – 광풍연 회원 10명 이상의 요구가 있을 때, 집행위원회의 요구가 있을 때, 의장의 요구가 있을 때, 의장의 주도하여 소집한다.<br>
          &nbsp;&nbsp;3항 . 단, 3장 15조 2항의 경우. 의장의 권한에 의하여 광풍연 공공의 목적에 반할 시 임시총회 요구를 거부할 수 있다.<br>
          &nbsp;&nbsp;4항 . 3장 15조 1항 정기 총회는 의장이 7일 이전에 장소와 시간 및 상정안건을 공고한다.<br>
          &nbsp;&nbsp;5항 . 3장 15조 2항 임시 총회는 의장이 7일 이전에 장소와 시간 및 상정안건을 공고한다.<br><br><br>




        <span style="font-size: 20px;">16조 개회 및 의결</span> : 총회는 각 패 회원의 1/4 이상의 참석으로 개회하고. 출석 인원의 1/2 이상의 찬성으로 의결한다<br><br>
        &nbsp;&nbsp;1항 . 임시총회의 경우, 의장 및 집행위원회와 각 패 1명 이상의 참석으로 개회하고, 출석 인원의 1/2 이상의 찬성으로 의결한다.<br>
        &nbsp;&nbsp;2항 . 총회는 2장 5조 1항에 의거된 회원이 참관인으로 참석 할 수 있다. 단, 안건 상정 및 투표에 대한 권한을 행 할 수 없다.<br><br><br>


        <span style="font-size: 20px;">17조 실시</span> : 총회에서 의결된 안건은 의장이 총회일로부터 3일이내에 공포하고, 7일이 지난 후부터 실시된다.<br><br><br>

        <span style="font-size: 20px;">18조 집행 및 감독</span> : 회칙에 의거하여 실시된 총회의 모든 집행과 감독의 의무는 의장에게 있다.<br><br><br>


       </div>
    </div>


    <div class="panel panel-danger">
     <div class="panel-heading"><span style="font-size: 30px;">4장 의 장</span></div>
       <div class="panel-body">

       <span style="font-size: 20px;">19조 지 위</span> : 의장은 광풍연을 대표하며 본 회의 의결기구인 총회와 집행기구인 집행위원회 의장이 된다.<br><br>
       &nbsp;&nbsp;1항 . 광풍연에 가입한지 3년 이상인 자<br>
       &nbsp;&nbsp;2항 . 4장 19조 1항을 충족하고 12장 선거에 의거하여 선출된 자.<br><br><br>

       <span style="font-size: 20px;">20조 권 한</span> : 의장은 다음과 같은 권한을 갖는다.<br><br>
       &nbsp;&nbsp;1항 . 의장은 광풍연의 사업 및 행사에 관하여 모든 사항을 정할 권한이 있다.<br>
       &nbsp;&nbsp;2항 . 임시총회의 소집을 요구할 수 있다.<br>
       &nbsp;&nbsp;3항 . 회칙 개정안을 총회에 상정할 수 있다.<br>
       &nbsp;&nbsp;4항 . 총 투표 실시권 및 총 투표안 발의권을 갖는다.<br>
       &nbsp;&nbsp;5항 . 1장 2조에 의거하여 특별 기구 개설 및 임면권을 갖는다.<br>
       &nbsp;&nbsp;6항 . 집행위원회 소집권을 갖는다.<br>
       &nbsp;&nbsp;7항 . 예산 집행의 승인권을 갖는다. <br><br><br>

       <span style="font-size: 20px;">21조 의 무</span> : 의장은 다음과 같은 의무를 갖는다.<br><br>
       &nbsp;&nbsp;1항 . 의장은 광풍연 회원들의 이해와 요구에 근거하여 광풍연의 발전을 위하여 헌신한다.<br>
       &nbsp;&nbsp;2항 . 광풍연 회원들 의사의 민주적 수렴과 이에 성실한 수행을 위해 노력한다.<br><br><br>

       <span style="font-size: 20px;">22조 임 기</span> : 1학기 개강총회부터 익년 1학기 개강총회 작일까지로 한다.<br><br><br>

       <span style="font-size: 20px;">23조 해 임</span> : 의장은 탄핵에 의하지 아니하고서는 어떠한 이유로도 그 직에서 해임되지 아니한다.<br><br>

         &nbsp;&nbsp;1항 . 의장이 직무 집행을 하면서 본 회칙에 위배한 때에는 탄핵 안을 상정 할 수 있다.<br>
         &nbsp;&nbsp;2항 . 4장 23조 1항의 안건 상정은 본 회에 등록된 회원들의 2/3 이상의 서명이 있어야 하며, 이를 충족 시에는 의장은 2주내에 3장 15조 2항에 의거한 임시 총회를 소집할 의무가 있다.<br>
         &nbsp;&nbsp;3항 . 3장 총회와 4장 23조 해임에 의거하여 탄핵 상정안이 의결되면, 의장은 탄핵여부의 결정이 있을 때까지 권한 행사가 정지된다.<br>
         &nbsp;&nbsp;4항 . 4장 23조 3항에 따라 의장의 권한 행사가 정지된 경우 부의장이 다음 의장이 선출 될 때까지 대행한다.<br>
         &nbsp;&nbsp;5항 . 4장 23조 1항, 2항에 의거한 임시총회에 열릴 경우 의장의 소명을 들은 뒤 의결을 실시한다. 단, 의결은 본 회에 등록된 회원들의 1/5 이상이 참석하고 참석인원의 2/3 이상의 찬성으로 한다.<br>
         &nbsp;&nbsp;6항 . 4장 23조 5항에 의거한 의장 탄핵이 의결된 경우, 총회 소집 이후로 의장의 직위는 해임된다.<br><br><br>


       <span style="font-size: 20px;">24조 선 서</span> : 의장은 1학기 개강총회에서 임기 동안 책임감 있게 활동할 것을 연설, 발언, 선언 등을 통하여 알려야 한다.<br><br><br>


       <span style="font-size: 20px;">25조 실시</span> : 총회에서 의결된 안건은 의장이 총회일로부터 3일이내에 공고하고, 7일이 지난 후부터 실시된다.<br><br><br>

       <span style="font-size: 20px;">26조 집행 및 감독</span> : 회칙에 의거하여 실시된 총회의 모든 집행과 감독의 의무는 의장에게 있다.<br><br><br>


      </div>
   </div>


   <div class="panel panel-danger">
    <div class="panel-heading"><span style="font-size: 30px;">5장 부 의 장</span></div>
      <div class="panel-body">

      <span style="font-size: 20px;">27조 지 위</span> : 부의장은 광풍연의 주체학번을 대표하는 자이며, 광풍연의 행정실무를 담당한다. <br><br><br>

      <span style="font-size: 20px;">28조 권 한</span> : 부의장은 다음과 같은 권한을 지닌다.<br><br>
      &nbsp;&nbsp;1항 . 광풍연 행사·사업에 대한 집행권을 지닌다.<br>
      &nbsp;&nbsp;2항 . 광풍연의 의견을 수렴하여 정식 안건으로 발의 할 권한을 지닌다.<br>
      &nbsp;&nbsp;3항 . 의장 궐위나 부재 시 의장의 직무승계권을 지닌다.<br>
      &nbsp;&nbsp;4항 . 후임 부의장에 대한 추천권을 지닌다.<br>
      &nbsp;&nbsp;5항 . 부의장은 종강총회 때 열리는 부의장·총무 선거에서 선거관리위원장을 맡는다.<br><br><br>


      <span style="font-size: 20px;">29조 의 무</span> : 부의장은 다음과 같은 의무를 갖는다.<br><br>
      &nbsp;&nbsp;1항 . 집행부 회의에 출석하여 발언과 답변을 통하여 의장과 상치배, 그리고 패장간의 의사소통을 원활하게 할 의무를 갖는다. <br>
      &nbsp;&nbsp;2항 . 주체 학번 회원들의 의견을 수렴하여 집행부 회의에서 안건을 발의 할 의무를 갖는다.<br>
      &nbsp;&nbsp;3항 . 광풍연 행사·사업의 행정 전 과정을 맡아 성실하고 투명하게 처리 할 의무를 갖는다.<br>
      &nbsp;&nbsp;4항 . 정기적으로 진행되는 집행부 회의에 성실히 참여 할 의무를 갖는다.<br>
      &nbsp;&nbsp;5항 . 총회에서 서기를 맡아 3주내로 광풍연 공식 웹 사이트에 회의록을 올릴 의무를 갖는다.<br><br><br>

      <span style="font-size: 20px;">30조 선 출</span>  : 부의장은 다음과 같은 절차로 선출된다.<br><br>
      &nbsp;&nbsp;1항 . 부의장 후보의 자격은 광풍연에 가입한 지 6개월 이상 3년 미만인 회원으로 제한한다. 단, 익년도 주체 학번 회원을 우선으로 한다.<br>
      &nbsp;&nbsp;2항 . 부의장·총무 후보자 등록기간을 부의장이 풍연 홈페이지에 공고한다. 이 때 후보자 등록기간은 첫 창립제부터 마지막 창립제날까지다.<br>
      &nbsp;&nbsp;3항 . 매년 2학기 종강총회 자리에서 투표를 통해 부의장을 선출한다. 단일후보의 경우 찬반투표를, 후보가 다자일 경우 다자투표를 한다.<br>
      &nbsp;&nbsp;4항 . 만약 단일후보가 반대표가 더 많아 낙선할 시, 2주 이내 다른 후보를 선정하여 재투표를 진행한다.<br>
      &nbsp;&nbsp;5항 . 45조 3항에 의거하여 선출된 자는 종강총회 익일로부터 	부의장의 모든 지위 및 권한을 부여받는다.<br><br><br>

      <span style="font-size: 20px;">31조 임 기</span> : 2학기 종강총회 익일로부터 익년도 2학기 종강총회까지로 한다.<br><br><br>

     </div>
  </div>


  <div class="panel panel-danger">
   <div class="panel-heading"><span style="font-size: 30px;">6장 집행위원회</span></div>
     <div class="panel-body">

     <span style="font-size: 20px;">32조 지 위</span> : 집행 위원회(이하 집행부)는 광풍연의 최고의 집행기구이다. <br><br><br>

     <span style="font-size: 20px;">33조 구 성</span> : 집행부는 의장, 부의장, 각 패장, 총무 그리고 상치배로 구성된다.<br><br><br>

     <span style="font-size: 20px;">34조 의 장</span> : 집행부 의장은 광풍연 의장이 겸임하다. 단, 의장 궐위시 부의장이 맡는다.<br><br><br>

     <span style="font-size: 20px;">35조 권 한</span>  : 집행부는 다음과 같은 권한을 갖는다.<br><br>
     &nbsp;&nbsp;1항 . 광풍연 전체에 관련한 중요한 사항을 토의하여 총회에 상정할 수 있다.<br>
     &nbsp;&nbsp;2항 . 광풍연의 사업을 진행하는데 있어서 필요할 경우 토의하여 국과 부를 둘 수 있다.<br>
     &nbsp;&nbsp;3항 . 3장에 의거된 총회에서 의결된 안건에 대하여 집행할 권한을 갖는다.<br>
     &nbsp;&nbsp;4항 . 광풍연의 활동에 계획과 예산을 토의 및 의결 할 수 있다.<br>
     &nbsp;&nbsp;5항 . 광풍연 활동에 관한 중대한 사항에 대해서는 각 패에 의견을 제시할 수 있다.<br><br><br>

     <span style="font-size: 20px;">36조 의 무</span> : 집행부는 다음과 같은 의무를 갖는다.<br><br>
     &nbsp;&nbsp;1항 . 총회에서 의결된 사항들에 대하여 원활히 집행한다.<br>
     &nbsp;&nbsp;2항 . 광풍연 일체의 사업, 행사 등의 계획서를 광풍연 공식 홈페이지에 올릴 의무가 있다.<br>
     &nbsp;&nbsp;3항 . 광풍연 일체의 재정의 경우 예산안은 분기별로 광풍연 공식 홈페이지에 올릴 의무가 있다.<br>
     &nbsp;&nbsp;4항 . 15장 29조 3항 예산안과 결산안의 형식은 광풍연 공식 홈페이지에 등록된 예산안과 결산안 형식에 따른다.<br>
     &nbsp;&nbsp;5항 . 집행부의 소집 시 광풍연 온라인 자료실에 등록된 집행부회의록을 사용하여 소집 후 3일 이내에 올릴 의무가 있다.<br><br><br>

     <span style="font-size: 20px;">37조 개 회</span> : 집행부 구성의 3분에 2 이상의 출석으로 개회를 한다. <br><br><br>
     <span style="font-size: 20px;">38조 소 집</span> : 매월 정기적으로 정해진 날짜에 소집을 한다. <br><br>
     &nbsp;&nbsp;1항 . 소집일은 집행부의 합의를 통해 정한다.<br>
     &nbsp;&nbsp;2항 . 필요시에 의장의 권한으로 소집할 수 있다.<br><br><br>


    </div>
 </div>


 <div class="panel panel-danger">
  <div class="panel-heading"><span style="font-size: 30px;">7장 패장</span></div>
    <div class="panel-body">

    <span style="font-size: 20px;">39조 패 장</span> :  각 패를 대표하는 장이라고 칭한다. <br><br><br>

    <span style="font-size: 20px;">40조 의 무</span> :  패장은 다음과 같은 의무를 지닌다.<br><br>
    &nbsp;&nbsp;1항 . 집행부에서 결정된 사항에 대해서 행해야 할 의무를 가진다.<br><br><br>

    <span style="font-size: 20px;">41조 권 한</span> : 패장은 다음과 같은 권한을 지닌다.<br><br>
    &nbsp;&nbsp;1항 . 풍연 사업에 관한 집행권을 가진다.<br><br><br>

    <span style="font-size: 20px;">42조 선 출</span>  : 각 패 내규에 따라서 정한다.<br><br>
    &nbsp;&nbsp;1항 . 광풍연 전체에 관련한 중요한 사항을 토의하여 총회에 상정할 수 있다.<br>
    &nbsp;&nbsp;2항 . 광풍연의 사업을 진행하는데 있어서 필요할 경우 토의하여 국과 부를 둘 수 있다.<br>
    &nbsp;&nbsp;3항 . 3장에 의거된 총회에서 의결된 안건에 대하여 집행할 권한을 갖는다.<br>
    &nbsp;&nbsp;4항 . 광풍연의 활동에 계획과 예산을 토의 및 의결 할 수 있다.<br>
    &nbsp;&nbsp;5항 . 광풍연 활동에 관한 중대한 사항에 대해서는 각 패에 의견을 제시할 수 있다.<br><br><br>
   </div>
</div>


<div class="panel panel-danger">
 <div class="panel-heading"><span style="font-size: 30px;">8장 상치배</span></div>
   <div class="panel-body">

   <span style="font-size: 20px;">43조 상 치 배</span> : 광풍연을 대표하는 악기의 장이라고 칭한다. <br><br><br>

   <span style="font-size: 20px;">44조 권 리</span> : 상치배는 다음과 같은 권리를 지닌다.<br><br>
   &nbsp;&nbsp;1항 . 풍연 사업에 관한 집행권을 가진다.<br>
   &nbsp;&nbsp;2항 . 치배 구성 및 판 구성의 권리를 가진다<br>
   &nbsp;&nbsp;3항 . 각 상치배는 차기 상치배를 선출방법에 대해서 전권을 가진다.<br><br><br>

   <span style="font-size: 20px;">45조 의 무</span> : 상치배는 다음과 같은 의무를 지닌다.<br><br>
   &nbsp;&nbsp;1항 . 풍연 사업을 원활히 진행할 의무를 지닌다.<br>
   &nbsp;&nbsp;2항 . 연습 시간, 연습 기간은 집행부 회의를 통해서 정한다.<br>
   &nbsp;&nbsp;3항 . 상쇠와 부쇠는 풍방의 전립, 부포, 징에 대하여 관리의 의무를 지닌다.<br>
   &nbsp;&nbsp;4항 . 상장구는 풍방의 장구, 북, 소창에 대하여 관리의 의무를 지닌다.<br>
   &nbsp;&nbsp;5항 . 수소고는 풍방의 소고 대하여 관리의 의무를 지닌다.<br>
   &nbsp;&nbsp;6항 . 그 외 잡색복, 기, 치복, 나발 등은 공통으로 관리한다.<br>
   &nbsp;&nbsp;7항 . 각 상치배는 차기 상치배의 선출방법을 2학기 개강총회 때 공지한다.<br><br><br>

   <span style="font-size: 20px;">46조 선 출</span>  : 각 패 내규에 따라서 정한다.<br><br>
   &nbsp;&nbsp;1항 . 광풍연 전체에 관련한 중요한 사항을 토의하여 총회에 상정할 수 있다.<br>
   &nbsp;&nbsp;2항 . 광풍연의 사업을 진행하는데 있어서 필요할 경우 토의하여 국과 부를 둘 수 있다.<br>
   &nbsp;&nbsp;3항 . 3장에 의거된 총회에서 의결된 안건에 대하여 집행할 권한을 갖는다.<br>
   &nbsp;&nbsp;4항 . 광풍연의 활동에 계획과 예산을 토의 및 의결 할 수 있다.<br>
   &nbsp;&nbsp;5항 . 광풍연 활동에 관한 중대한 사항에 대해서는 각 패에 의견을 제시할 수 있다.<br><br><br>
  </div>
</div>


<div class="panel panel-danger">
 <div class="panel-heading"><span style="font-size: 30px;">9장 총 무</span></div>
   <div class="panel-body">

   <span style="font-size: 20px;">47조 지 위 </span> : 광풍연의 재정 부분을 관리한다. <br><br><br>

   <span style="font-size: 20px;">48조 의 무</span> : 총무는 다음과 같은 의무를 지닌다.<br><br>
   &nbsp;&nbsp;1항 . 6장 34조 3항에 의거하여, 이를 수행할 의무를 지닌다.<br>
   &nbsp;&nbsp;2항 . 정기총회 시에 예산안과 결산안에 대해서, 공고할 의무를 지닌다.<br>
   &nbsp;&nbsp;3항 . 집부회의 참가할 의무를 지닌다.<br><br><br>

   <span style="font-size: 20px;">49조 선 출</span> : 2학기 종강총회 때 투표에 의해서 선출한다.<br><br><br>

  </div>
</div>


<div class="panel panel-danger">
 <div class="panel-heading"><span style="font-size: 30px;">10장 패</span></div>
   <div class="panel-body">

   <span style="font-size: 20px;">50조 지 위 </span> : 패는 광풍연에 등록된 광풍연의 기초를 이루는 기구이다. <br><br><br>

   <span style="font-size: 20px;">51조 구 성</span> : 전자바이오물리학과 굴렁쇠, 화학공학과 난장, 컴퓨터소프트웨어학과 사통백이 컴퓨터공학과 산소래, 전자공학과 산지니, 인문사회과학대학 어진바람, 전기공학과 자올소리로 구성되어 있다.<br><br><br>

   <span style="font-size: 20px;">52조 의 무</span> : 패는 다음과 같은 의무가 있다.<br><br>
    &nbsp;&nbsp;1항 . 2장 8조 3항에 의거하여 풍방 관리와 유지에 힘쓴다.<br>

  </div>
</div>


<div class="panel panel-danger">
 <div class="panel-heading"><span style="font-size: 30px;">11장 재정</span></div>
   <div class="panel-body">

   <span style="font-size: 20px;">53조 수 입</span> : 광풍연의 재정은 회비와 지원금, 수익금으로 한다. <br><br><br>

   <span style="font-size: 20px;">54조 회 비</span> : 집부회의를 통해 정한 제출된 재적인원에 따라 당해의 상황을 고려하여 집행위원회가 결정한다.<br><br><br>

   <span style="font-size: 20px;">55조 회계연도</span> : 광풍연의 회계연도는 1학기 개강 총회에서 익년 1학기 개강 총회까지 1년으로 하며 1학기 개강총회와 2학기 개강총회에 각각 예산과 결산을 행한다.<br><br>

   &nbsp;&nbsp;1항 . 1학기 개강총회와 2학기 개강총회에서 총무는 예산과 결산을 알릴 의무가 있다.<br><br><br>

   <span style="font-size: 20px;">56조 예 산</span>  : 예산은 집행부가 편성하여 총회에서 심의, 확정되면 집행한다.<br><br>
   &nbsp;&nbsp;1항 . 집행부는 예산안을 정기 총회 공고할 의무가 있다.<br><br><br>

   <span style="font-size: 20px;">57조 이 월</span>  : 결산 후 잉여금이 있을 경우에는 다음 예산에 이월 한다. <br><br>
   &nbsp;&nbsp;1항 . 적자가 발생할 경우에는 예산을 집행한 집행부가 책임을 진다.<br><br><br>

  </div>
</div>


<div class="panel panel-danger">
 <div class="panel-heading"><span style="font-size: 30px;">12장 선거</span></div>
   <div class="panel-body">

   <span style="font-size: 20px;">58조 선 거</span> : 광풍연의 회원은 모두 선거권을 가진다. <br><br><br>

   <span style="font-size: 20px;">59조 선거 방법</span> : 선거는 평등, 보통, 직접, 비밀선거로 한다.<br><br><br>

   <span style="font-size: 20px;">60조 보궐선거</span> : 집행부원 유고 및 궐위 시 집행부에서 임시 선출하고 가장 빠른 총회에서 정식으로 선출한다.<br><br><br>

   <span style="font-size: 20px;">61조 선거 관리 위원회</span>  : 집행부가 겸임한다. <br><br><br>

   <span style="font-size: 20px;">62조 선거 시행 세칙</span>  : 모든 선거는 선거 시행 세칙에 따르며 선거시행세칙은 선거관리 위원회에서 제정한다.<br><br><br>

  </div>
</div>


<div class="panel panel-danger">
 <div class="panel-heading"><span style="font-size: 30px;">13장 회칙의 개정</span></div>
   <div class="panel-body">

   <span style="font-size: 20px;">63조 발 의</span> : 회칙 개정 발의는 총회, 의장, 집행부에 의해 제안한다. <br><br><br>

   <span style="font-size: 20px;">64조 의결</span> : 발의된 회칙 개정안은 총회에서 의결하여야 한다.<br><br><br>

   <span style="font-size: 20px;">65조 공포</span> : 의결된 회칙 개정안은 3일 이내에 의결 직후 공포한다.<br><br><br>

  </div>
</div>


<div class="panel panel-danger">
 <div class="panel-heading"><span style="font-size: 30px;">14장 정기 행사</span></div>
   <div class="panel-body">

   <span style="font-size: 20px;">66조 정기행사</span> : 정기행사로는 겨울전수, 새내기 판굿, 새내기 공연, 대동제 공연, 여름전수, 가을판굿, 창립제 등이 있다. <br><br>
   &nbsp;&nbsp;1항 . 정기행사 관련된 세부사항들은 집행부 회의를 통해 정한다. <br><br><br>

  </div>
</div>


<div class="panel panel-danger">
 <div class="panel-heading"><span style="font-size: 30px;">부 칙</span></div>
   <div class="panel-body">

   <span style="font-size: 20px;">시 행</span> : 본 회칙은 공포된 날로부터 효력을 가진다.<br><br><br>
   <span style="font-size: 20px;">관 례</span> : 본 회칙에서 기재되지 아니한 사항은 관례에 따른다.<br><br><br>
   <span style="font-size: 20px;">회원 제적</span> : 2장에 명시된 회원 의무를 이행하지 않거나 풍연의 운영상에 위해를 가하는 자 또는 패는 집행부 회의를 통해 제적 될 수 있다. <br><br><br>

  </div>
</div>


  </div>
</div>

   {% endblock content %}
