{% extends "home/base.html"%}

{% load thumbnail %}
{% load taggit_templatetags2_tags %}

{% block content %}

<div>
  <ol style = "margin-top:10px;background-color:#3c3d41" class="breadcrumb">
    <li><a href="{% url "home:home" %}">메인</a></li>

    <li><a href="{% url "album:album_list"%}">{{title}}</a></li>
    {% block album_detail_link %}
    {% endblock %}

  </ol>
</div>


<div class="page-header">
  <h1 style="color:tomato">풍연앨범 <small>:풍연 관련 사진 및 영상을 공유할 수 있습니다.</small></h1>
</div>

<div style="padding-left:80px;">

   <div class="side-box" style="float:left;width:45%;padding:10px;margin:10px;border:solid 2px tomato;">
    <h4 style="color:tomato;text-align:center;">조회수 TOP5</h4>
    {% for hit in rank_hit %}
    <li style="list-style-type:none;padding:5px;"><a href="{{hit.get_absolute_url}}">{{hit}}</a> - {{hit.hit}} hits</li>
    {% endfor  %}
  </div>

  <div class ="side-box" style="float:left;width:45%;padding: 10px;margin:10px;border:solid 2px tomato;">
    <h4 style="color:tomato;text-align:center">좋아요 TOP5</h4></hr>

    {% for like in rank_like %}
    <li style="list-style-type:none;padding:5px;"><a href="{{like.get_absolute_url}}">{{like}}</a> - {{like.likes}} likes</li>
    {% endfor  %}

  </div> 
  
  <div class ="side-box" style="float:left;width:92%;padding: 10px;margin:10px;border:solid 2px tomato;">
    <h4 style="color:tomato;text-align:center;">태그 클라우드</h5>
    {% get_tagcloud as tags for 'album.Album' %}
    {% for tag in tags %}
    <font size={{tag.weight|floatformat:0}}><a href="{% url "album:tagged" tag.slug %}">{{tag}}</a></font>
    {% endfor %}

  </div>
</div>

<div class="col-md-12" style="width:97%;padding-left:50px;margin-right:20px;">  

  <form method="GET" action="">
    <div style="margin:20px;" class="input-group">
      <input style="height:50px;" type="text" class="form-control" name="q" value='{{request.GET.q}}' placeholder="찾고싶은 풍연앨범 글을 검색하세요.">
      <span style=padding-left:10px; class="input-group-btn">
        <button class="btn btn-default" type="button">검색</button>
      </span>
    </div>
  </form>


  <div style="height:50px;margin:10px;">
    <a href="{% url "album:album_create" %}"><button style="height:50px;" type="button" class="btn btn-danger col-md-12"><span style="font-weight:bold;"</span>사진 및 영상 올리기</button></a>
  </div>


</div>


{% if album_list.has_other_pages %}
<div style="text-align:center">  
  <ul class="pagination">
    {% if album_list.has_previous %}
    <li><a href="?page={{ album_list.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in album_list.paginator.page_range %}
    {% if album_list.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if album_list.has_next %}
    <li><a href="?page={{ album_list.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
</div>

{% endif %}



<div id="columns">
  {% for album in album_list %}

  <figure>
    <p>{{album.timestamp}} | {{album.name}}</p>
    <a href="{{album.get_absolute_url}}">


      {% thumbnail album.photo "x500" crop="center" as thumb %}
      <img src="{{ thumb.url }}">
      {% endthumbnail %}

      <h3>{{album.title}}</h3></hr>
      <h5><a href="{{album.get_absolute_url}}#disqus_thread">0 Comment</a> | {{album.likes}} likes | {{album.hit}} hit</h5></hr>
      <li class="tags">

        {% for tag in album.tags.all  %}
        <a href="{% url "album:tagged" slug=tag.slug  %}">{{tag.name}}</a>
        {% endfor %}

      </li>
  </figure>
  {% endfor %}
</div>

</div>

{% endblock content %}



