{% extends "home/base.html"%}

{%block content %}

<!-- Breadcrumb -->
<div class="col-md-10">
  <ol style = "margin-top:10px;background-color:#3c3d41" class="breadcrumb">
    <li><a href=" {% url "home:home" %} ">메인</a></li>

    <li><a href="{% url "notice:notice_list"%}">{{title}}</a></li>
    <li><a href="{{instance.get_absolute_url}}">{{ instance.title }}</a></li>
  </ol>
</div>


<!-- notice_detail main -->
<div id="notice" style="padding-bottom:30px;" class="col-md-10">
  <div style="background-color:white;border:solid darkred 2px;padding:20px;" class="row">
   
    <!-- Detail title and timestamp -->
    <h2 style="color:darkred;">{{ instance.title }}<small style="padding:10px;">{{ instance.timestamp | timesince }} 전에 작성</small></h2>
    <hr/><br/>

    <!--Detail Message -->
    {{ instance.message | safe }}<br/>
    <hr/><br/>

    <!-- Detail user and timestamp --> 
    <span style="font-size: 20px;">{{instance.user}} | <small>{{instance.timestamp}}</small></span>
    <hr/><br/>

    <!-- Detail tags -->
    <li class="tags">
      {% for tag in instance.tags.all  %}
      <a href="{% url "notice:tagged" tag.slug %}">{{tag.name}}</a>
      {% endfor%}
    </li>
    <hr/><br/>

    <!-- Detail 좋아요 파트 -->

<div style="text-align:center" class="heart-particle-box">
     <button class="likes post-likes-notice" id="heart-icon" data-notice-id="{{instance.id}}">
      {% if liked %}
      <i class="heart-shaped fa fa-heart" style="display: line-block"></i>
      <i class="heart-shaped fa fa-heart-o" style="display: none"></i>
      {% else %}
      <i class="heart-shaped fa fa-heart" style="display: none"></i>
      <i class="heart-shaped fa fa-heart-o" style="display: line-block"></i>
      {% endif %}
      
    </button>
      <p class="like_count_blog" id="heart-counter">좋아요<span style="font-size:20px;">{{ instance.likes }}</span></p>

</div>
<hr/><br/>



    <div id="disqus_thread"></div>
  </div>

  <script>

    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//kwpu-disqus-com.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();

  </script>

  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>

{% endblock content %}




