{% extends "home/base.html"%}

{% load thumbnail %}
{% load taggit_templatetags2_tags %}


{% block content %}

<div>
  <ol style = "margin-top:10px;background-color:#3c3d41" class="breadcrumb">
    <li><a href=" {% url "home:home" %} ">메인</a></li>

    <li><a href="{% url "blog:blog_list"%}">{{title}}</a></li>
    {% block blog_detail_link %}
    {% endblock %}

  </ol>
</div>




<div class="page-header">
  <h1 style="color:skyblue">풍연블로그 <small>:풍연과 관련된 다양한 관심사들을 자유롭게 써보세요.</small></h1>
</div>

  <div style="padding-left:70px;">

    <div class="side-box" style="float:left;width:44%;padding:10px;margin:10px;border:solid 2px skyblue;">
      <h4 style="color:skyblue;text-align:center;">조회수 TOP5</h4>
      {% for hit in rank_hit %}
      <li style="list-style-type:none;padding:5px;"><a href="{{hit.get_absolute_url}}">{{hit}}</a> - {{hit.hit}} hits</li>
      {% endfor  %}
    </div>

    <div class ="side-box" style="float:left;width:44%;padding: 10px;margin:10px;border:solid 2px skyblue;">
      <h4 style="color:skyblue;text-align:center">좋아요 TOP5</h4></hr>

      {% for like in rank_like %}
      <li style="list-style-type:none;padding:5px;"><a href="{{like.get_absolute_url}}">{{like}}</a> - {{like.likes}} likes</li>
      {% endfor  %}

    </div>
    <div class ="side-box" style="float:left;width:90%;padding: 10px;margin:10px;border:solid 2px skyblue;">
      <h4 style="color:skyblue;text-align:center;">태그 클라우드</h5>
      {% get_tagcloud as tags for 'blog.Blog' %}
      {% for tag in tags %}
      <font size={{tag.weight|floatformat:0}}><a href="{% url "blog:tagged" tag.slug %}">{{tag}}</a></font>
      {% endfor %}

    </div>



  </div>

<div class="col-md-12" style="width:97%;padding-left:50px;margin-right:20px;">  

  <form method="GET" action="">
    <div style="margin:20px;" class="input-group">
      <input style="height:50px;" type="text" class="form-control" name="q" value='{{request.GET.q}}' placeholder="찾고싶은 블로그 글을 검색하세요.">
      <span style=padding-left:10px; class="input-group-btn">
        <button class="btn btn-default" type="button">검색</button>
      </span>
    </div>
  </form>





  <div style="height:50px;margin:10px;">
    <a href="{% url "blog:blog_create" %}"><button style="height:50px;" type="button" class="btn btn-info col-md-12"><span style="font-weight:bold;"</span>블로그 글 올리기</button></a>
  </div>
</div>


{% if blog_list.has_other_pages %}
<div style="text-align:center">  
  <ul class="pagination">
    {% if blog_list.has_previous %}
    <li><a href="?page={{ blog_list.previous_page_number }}">&laquo;</a></li>
    {% else %}
    <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in blog_list.paginator.page_range %}
    {% if blog_list.number == i %}
    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
    <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    {% if blog_list.has_next %}
    <li><a href="?page={{ blog_list.next_page_number }}">&raquo;</a></li>
    {% else %}
    <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
</div>

{% endif %}


<div class="col-md-12">
  <div class="row"> 

    {% for blog in blog_list %}
    <div style="padding-left:100px;">
      <div style="border:solid 2px skyblue;background-color:white;margin-bottom:50px;" class="col-md-11">
        <div class="list-group">
          <div style="width:50%" class="list-group-item">

            <div class="row-picture">

              {% thumbnail blog.photo "100x100" crop="center" as thumb %}
              <img src="{{ thumb.url }}">
              {% endthumbnail %}


            </div>



            <div style="width:100%" class="row-content">
              <div class="list-group-item-heading">
                <h2 style="color:skyblue;">{{blog.name}}</p>
              </div>
              <i class="glyphicon glyphicon-time"></i>{{blog.timestamp}} /{{blog.timestamp | timesince}}전에 작성               <br>

            </div>

          </div>
              </br></hr>
              <h5 style="text-align:right;"><a href="{{blog.get_absolute_url}}#disqus_thread">0 Comment</a> | {{blog.likes}} likes | {{blog.hit}} hit</h5>

              <li class="tags">

                {% for tag in blog.tags.all  %}
                <a href="{% url "blog:tagged" slug=tag.slug  %}">{{tag.name}}</a>
                {% endfor %}

              </li>


        </div>
        <h2><a href="{{blog.get_absolute_url}}">{{blog.title}}</a></h2>
        <p>{{blog.message|truncatewords_html:40 |safe}}</p>

      </div>
    </div>


    {% endfor %}

  </div>



</div>


</div>







{% endblock content %}
